* {
  padding: 0;
  margin: 0;
}

body {
  /* ohmyfood */
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}

.loader{
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset:0;
  z-index: 2;
  opacity: 0.9;
  display:grid;
  place-items: center;
  animation: disappear 200ms 6s forwards;
  color:#e270db;
  transform-origin: top;
}

.loader::after{
  content: "";
  height: 30px;
  width: 30px;
  border-right: 5px solid transparent;
  border-top: 5px solid #e270db;
  /* border-right: 5px solid red;; */
  border-radius: 50%;
  animation: spin 2s infinite linear; 
}

@keyframes disappear{
  to{
    transform: scale(0);
  }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.center {
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  text-align: center;
}

header {
  min-width: 100%;
  margin: 0;
}

.fa-location-dot{
  padding-right: 1rem;
}

.location {
  width: 100%;
  background-color: #eaeaea;
  color: #353535;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0px;
}

.btn {
  margin: auto;
  margin-top: 50px;
  background-image: linear-gradient(180deg, #e270db, #A05ADC);
  border-radius: 30px;
  text-align: center;
  padding: 20px 0;
  max-width: 300px;
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.02);
  opacity: 0.9;
  transition: transform 300ms ease-in-out;
}

a{
  text-decoration: none;
  color: white;
}

.bgc{
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 50px;;
}

.reserve{
  font-size: 2rem;;
  text-align: center;
}

.intro{
  text-align: center;
  margin: auto;
  color: #4D4D4D;
}

p{
  margin-top: 20px;
  font-size: 1.2rem;
}


.ftn{
  margin-top: 100px;
  padding-left: 10px;
}


.fa-mobile-screen-button,
.fa-list,
.fa-store{
  padding-right: 1.5rem;

}

.one-two-three{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 25px;
}

.bullet{
  background-color: #A05ADC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-top: 10px;
  color: white;
  z-index: 1;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant{
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
  margin-top: 10px;
  height: 50px;
  padding-left: 10px;
  border-radius: 10%;
}

.restaurant:hover .fa-solid{
  color:#A05ADC;
}

restaurant::before{
  content: "";
  margin-left: 100px;
}

.restaurants{
  background-color: #F6F6F6;
  margin-top: 50px;
  padding-bottom: 4%;
}

.resto{
  margin-left: 0px;
  padding-left: 4%;
  padding-top: 50px;
}

.card{
  border-radius: 15px;
  max-width: 94%;
  max-height: 340px;
  margin: 15px auto;
  position: relative;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  background-color: white;
}

.card img{
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  max-height: 300px;
  height: 200px;
}

.new{
  display: inline-block;
  position: absolute;
  padding :0.5em 1em;
  top: 2%;
  right:2%;
  color: #139273;
  background-color: #99E2D0;
}

.subtitle{
  position:relative;
  width: 300px;
  left: 15px;
}
.subtitle a{
  color: black;
  font-weight: 800;
  margin-top: -16px;
}

.faubourg{
  font-size: 16px;
  margin-top: -0px;
  margin-bottom: 8px;
}

.fa-heart{
  position: absolute;
}

.heart{
  position:absolute;
  right: 2rem;
  top: 0rem;
  font-size: 2rem;
}

.full-heart{
  color: transparent;
  background-image: linear-gradient(180deg, #A05ADC, #e270db);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.full-heart:hover{
  opacity: 1;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

ul li{
  list-style-type: none;
  padding: 10px;
}

.logo{
  font-family: Shrikhand, sans-serif;
  font-size: 20px;
}

/* tablette */
@media screen and (min-width: 768px){

  .restaurant-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
    gap:50px;
    margin:0 auto;
    justify-content: space-between;
  }

  .card{
    width: 45%;
  }
}


/* desktop version */
@media (min-width: 992px) {
  .card{
    width:24%;
  }
  
  .restaurant-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
    margin:0 auto;
    justify-content: space-between;
  }

  .heart{
    position:absolute;
    right: -6rem;  
  }

  .card{
    width: 47%;
  }
}

@media (min-width: 1200px) {
  .one-two-three{
    display: flex;
    flex-direction: row;
    margin-left: 22%;
    gap: 5%;
  }

  .ftn{
    padding-left: 200px;
  }
  
  .resto{
    padding-left: 200px;
    padding-bottom: 20px;
  }

  .heart{
    position:absolute;
    /* right: -5.5rem; */
    right: -10.5rem;
  }

  .card{
    width: 47%;
  }

  .restaurant-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77%;
    margin:0 auto;
    justify-content: space-between;
  }
  
  footer{
    display: flex;
    flex-direction: row-reverse;
    background-color: #353535;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
  }
  
  .logo{
    padding-left: 4rem;
  }

  ul li{
    display: inline-block;
  }
}
