* {
  padding: 0;
  margin: 0;
}
/* font-family: 'Shrikhand', sans-serif; */


body {
  /* ohmyfood */
  font-family: "Roboto", sans-serif;
  color: black;
  width: 375px;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
}

header {
  min-width: 375px;
  /* background-color: red; */
  position: relative;
}

.fa-long-arrow-left{  
  position: absolute;
  margin-left: 20px;
  margin-top: 9px;
  /* border: 4px solid black; */
  color: black;
}

.location {
  width: 50%;
  background-color: #eaeaea;
  color: #353535;
  font-size: 1rem;
  width: 375px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 10px;
}

.btn {
  margin: 50px;
  background-image: linear-gradient(180deg, #e270db, #A05ADC);
  /* background-color: ; */
  border-radius: 30px;
  text-align: center;
  padding: 20px 0;
}

.btn:hover{
  /* background-image:  */
  transition: transform 300ms ease-in-out;
  transform: linear-gradient(180deg, #A05ADC, #e270db);
}

a{
  text-decoration: none;
  color: white;
}

.reserve{
  margin-top: 50px;
}

.intro{
  text-align: center;
  margin: auto;
  color: #4D4D4D;
}

p{
  margin-top: 20px;
  font-size: 1.2rem;
}

.reserve{
  text-align: center;
}

.ftn{
  margin-top: 100px;
  padding-left: 10px;
}

fa-mobile{
  font-size: 3rem;
}

.one-two-three{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.bullet{
  background-color: #A05ADC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-top: 10px;
  color: white;
  z-index: 1000;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant{
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
  margin-top: 10px;
  height: 50px;
  padding-left: 10px;
  border-radius: 10%;
}

restaurant::before{
  content: "";
  margin-left: 100px;
}

.fa-store{
  color: #A05ADC;
}

.restaurants{
  background-color: #F6F6F6;
  margin-top: 50px;
}

.resto{
  margin-left: 0px;
  padding-top: 50px;
}

.card{
  border-radius: 10%;
  /* max-width: 25%; */
  max-height: 300px;
  positiion: relative;
}

.new{
  display: inline-block;
  position: absolute;
  margin: -90px 290px;
  color: #139273;
  background-color: #99E2D0;
}

.subtitle{
  /* position:relative; */
}
.subtitle a{
  color: black;
  font-weight: 800;
  margin-top: -16px;
}

.faubourg{
  font-size: 16px;
  margin-top: -0px;
  margin-bottom: 8px;
}

.heart{
  display: inline-block;
  position:absolute;
  margin-left: 350px;
  color: linear-gradient(180deg, #A05ADC, #e270db);
  color: #A05ADC;
  /* z-index: 100; */
}

fa-arrow-left{
  font-size: 30px;
}

.menu{
  background-color: #F6F6F6;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.entree{
  margin-top: 50px;
}

.indent{
  color: #99E2D0;
  background-color: #99E2D0;
  margin-left: 0px;
  width: 30px;
  height: 0.175rem;
}

.carte{
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  margin-top: 30px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  height: 5%;
}

.underline{
  position:absolute;
  font-size: 16px;
  margin-top: 20px;
}

.price{
  display: inline-block;
  position:absolute;
  margin-left: 320px;
  margin-top: 20px;
  font-weight: 800
  /* margin; */
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
}

.photo-1{
  background-image: url('images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.photo-2{
  background-image: url('/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.photo-3{
  background-image: url('/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.photo-4{
  background-image: url('/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}


.card-1{
  background-image: url('/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5%;
  
}
.card-2{
  background-image: url('/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5%;
}
.card-3{
  background-image: url('/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5%;
}
.card-4{
  background-image: url('/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  /* alt="photo d'une assiette" */
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5%;
}

.title{
  font-family: Shrikhand;
}

footer{
  margin-top: 100px;
  background-color: #353535;
  color: white;
  padding-left: 20px;
}

ul li{
  list-style-type: none;
}

.logo{
  font-family: Shrikhand, sans-serif;
  font-size: 20px;
}

/* desktop version */
@media (min-width: 1439px) {
  body {
    width: 1440px;
  }

  .center{
    width: 16%;
  }
  .location {
    width: 1440px;
  }

  .btn{
    width: 215px;
    margin: auto;
  }

  .reserve{
    margin-bottom: 30px;
  }

  .intro{
    margin-bottom: 30px;
  }

  .ftn{
    margin-left: 16%;
  }

  .one-two-three{
    display: flex;
    flex-direction: row;
    margin-left: 16%;
  }

  .resto{
    /* margin-left: 16%; */
    margin-bottom: 16%;

  }

  .card{
    width: 500%;
  }
  .restaurants{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-left: 16%  ;
  }
  .carton{
    flex-direction: column;
    /* margin-top: 50%; */
  }
  .subtitle{
    width: 300px;
  }

}