* {
  padding: 0;
  margin: 0;
}

body {
  /* ohmyfood */
  font-family: "Roboto", sans-serif;
  color: black;
  /* width: 375px; */
}

h1{
  font-family: "Shrikhand";
  /* margin: 0 auto; */
}

header {
  min-width: 375px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  padding-left: 15px;
}

.center {
  height: 40px;
  /* padding-left: 110px; */
  width: 50%;
  margin: 0 auto;
}

.title {
  font-family: Shrikhand;
  font-size: 2rem;
  padding: 1rem;
}

article img {
  object-fit: cover;
  height: 312px;
  width: 100%;
}

.fa-arrow-left {
  font-size: 30px;
  font-weight: 900;
  color: black;
  height:1rem;
  padding-top: 0.5rem;
}

.menu-grid{
  /* background-color: yellow; */
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.resto-main{
  padding: 0 1rem;
}

.menu__category{
  /* border: 1px solid red; */
  /* background-color: white; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

strong{
  /* border: 1px solid red; */
}

.underline{
  /* border: 1px solid red;  */
  overflow: hidden;
  /* display: block; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-item, .underline{
  /*  padding-left: 0.5rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* color: black; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.menu-item{
  padding-top:10px;
  padding-left: 10px;
}

.menu {
  background-color: #f6f6f6;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding-bottom: 50px;
  /* transform: translateY(-10%); */
  /* position:absolute; */
}

h3 {
  margin-top: 50px;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 2rem;
}

h3::after{
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0rem;
  height: .25rem;
  width: 3rem;
  background-color: #99e2d0;
  /* display: inline-block; */
}

.carte {
  /* position: relative; */
  background-color: white;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border-radius: 1rem;
  /* margin-top: 30px; */
  margin-bottom: 20px;
  margin-left: 2rem;
  margin-right:2rem;
  /* padding-bottom: 20px; */
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  /* height: 5%; */
  animation: appear 1s;
}

.delay-1{
  animation-delay: 100ms;
}
.delay-2{
  animation-delay: 200ms;
}
.delay-3{
  animation-delay: 300ms;
}
.delay-4{
  animation-delay: 400ms;
}
.delay-5{
  animation-delay: 500ms;
}
.delay-6{
  animation-delay: 600ms;
}
.delay-7{
  animation-delay: 700ms;
}
.delay-8{
  animation-delay: 800ms;
}
.delay-9{
  animation-delay: 900ms;
}
.delay-10{
  animation-delay: 1000ms;
}


.carte:hover .check{
  margin-right: 0;
}

.carte:hover i{
  animation: quarterspin .5s ease-in-out;
}

.underline {
  /* position: absolute; */
  font-size: 16px;
  /* margin-top: 20px; */
    left: 0;
}

.price {
  /* display: inline-block; */
  /* position: absolute; */
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 15px;
  font-weight: 900;
  padding-right: 5px;
  /* margin; */
}

.check {
  /* position: absolute; */
  /* margin-top: 5px; */
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  height: 4rem;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: margin-right .5s;
}

fa-regular fa-circle-check {
  position: absolute;
  right: 0px;
  color: #99e2d0;
  /* background-color: #99e2d0; */
}

.fa-circle-check{
  background: white;
  border-radius: 50%;
  color: #99e2d0;
}

@keyframes quarterspin{
  0%{
    transform: rotate(-270deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes appear{
  0%{
    transform: translateY(50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-title{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  width:96%;
  margin: 0 auto;
}

.fa-heart {
  position: relative;
  font-size: 2rem;
}

.heart {
  position: relative;
  width: 32px;
  height: 32px;
}

.full-heart:hover {
  opacity: 1;
}

.full-heart{
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-image: linear-gradient(180deg, #A05ADC, #e270db);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0;
  background-image: linear-gradient(180deg, #e270db, #A05ADC);
  /* background-color: ; */
  border-radius: 30px;
  text-align: center;
  padding: 20px 0;
  max-width: 300px;
  width: 600px;
  cursor: pointer;
}

.btn:hover{
  /* background-image:  */
  transform: scale(1.02);
  opacity: 0.9;
  transition: transform 300ms ease-in-out;
}

a {
  text-decoration: none;
  color: white;
}

.logo{
  font-family: Shrikhand, sans-serif;
  font-size: 20px;
}

footer{
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
  background-color: #353535;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

ul li{
  list-style-type: none;
  padding: 10px;
}

@media (min-width: 767px) {
  .menu-grid{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 1200px) {
  footer{
    display: flex;
    flex-direction: row-reverse;
    background-color: #353535;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
  }
  
  .logo{
    padding-left: 4rem;
    padding-right: 1rem;
  }

  ul li{
    display: inline-block;
  }
}
/*@media (max-width: 1439px) {
.menu-grid{
  /* grid-template-columns: 1fr; 
}*/

/* @media (min-width: 1439px) {
  /* .menu{
    display: flex;
    flex-wrap: wrap;
  } 


  .fa-heart {
    right: -90rem;
    top: 0rem;
  }
} */